.align{
  
   text-align: center;
   
   
}
.color1{
    background-color: rgba(255, 166, 0, 0.164);
}
.color2{
    background-color: rgba(0, 0, 255, 0.13);
}
.color3{
    background-color: rgba(0, 255, 255, 0.13);
}